<h1>Listing consultation_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consultation_types.each do |consultation_type| %>
  <tr>
    <td><%= consultation_type.name %></td>
    <td><%= link_to 'Show', consultation_type %></td>
    <td><%= link_to 'Edit', edit_consultation_type_path(consultation_type) %></td>
    <td><%= link_to 'Destroy', consultation_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consultation type', new_consultation_type_path %>
